body {
  color: #393e41;
  font-family: Ubuntu, Arial;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 238px;
  gap: 10px;
  background-color: #393e41;
  padding: 10px;
  border-radius: 18px;
}

.display-container {
  height: 80px;
  width: 100%;
  border: 1px solid black;
  border-radius: 18px;
  padding: 15px;
  box-sizing: border-box;
}

.display {
  font-size: 30px;
  text-align: right;
  vertical-align: middle;
  line-height: 50px;
  background-color: #d3d0cb;
  color: black;
}

.digit-container {
  display: flex;
  gap: 10px;
  flex: 1;
}

.row {
  display: flex;
  flex-grow: 1;
  gap: 10px;
}

.digit,
.operator,
.equal,
.decimal,
.clear {
  min-width: 50px;
  height: 50px;
  background-color: #368F8B;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-radius: 18px;
  flex: 1;
  user-select: none;
}

.operator,
.equal,
.clear {
  background-color: #D17A22;
}

.digit:hover,
.decimal:hover {
  color: #d3d0cb;
  background-color: #4EBCB6;
  cursor: pointer;
}

.operator:hover,
.equal:hover,
.clear:hover {
  color: #d3d0cb;
  background-color: #E29950;
  cursor: pointer;
}

.mid-left-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.right-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#o-,
#decimal {
  flex: 0;
}